/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 28, 2014, 9:00:34 PM
    Author     : Tushar
*/
body{
    background-color: #269abc;
    font-family: "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size:100%;
    color: white;
}
img{
    max-width: 100%;
    /*margin:0 auto;
    display: block;*/
}
.container{
    width: 100%;/*350px;*/
    margin: 10px auto;
}
.row{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.header{
    width: 100%;
}
.header img{
    max-width: 100%;
}
#banner{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.maintText{
    text-align: left;
    font-size: 1.1em;
}
.btnSms, .btnSms:focus, .btnSms:hover {
    display: block;
    width: 80%;
    margin: 3px auto;
    font-size:1.2em;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    /*
    border: 4px solid highlight;
    background: white ;/*#00cc00;
    */
    color: white;
    text-decoration: none;

    background: #b4e391; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I0ZTM5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzYxYzQxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNGUzOTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b4e391 0%,#61c419 50%,#b4e391 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b4e391 0%,#61c419 50%,#b4e391 100%); /* IE10+ */
    background: linear-gradient(to bottom, #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-8 */

    -webkit-box-shadow:  2px 2px 4px 0px rgba(0, 0, 0, .5);   
    box-shadow:  2px 2px 4px 0px rgba(0, 0, 0, .5);
}
.disclimer {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
.footer{
    color: #ddd;
    text-align: justify;
    font-size: 0.8em;
}

@media screen and (max-width:360px){
    .container{
        width: 100%;
    }
}
@media screen and (min-width:361px) and (max-width:480px){
    .container{
        width: 100%;/*470px;*/
    }
}
@media screen and (min-width:481px) and (max-width:768px){
    .container{
        width: 470px;
    }
}
@media screen and (min-width:769px){
    .container{
        width: 470px;
    }
}